@import 'style.scss';
/*Définition des classes récurentes*/
header
{
    font-family: 'Shrikhand',sans-serif;
}
body
{
    max-width: 1440px;
    margin: auto;
    font-family:'Roboto',sans-serif;
}
h2
{
    padding: 0;
    margin: 0;
}
h3
{
    font-size: 4.5vw;
    padding: 0;
    margin: 0;
}
.maxwidth
{
    width: 100%;
}
#brand /*placement du nom de l'entreprise*/
{
    padding: 4%;
    font-size: 9vw;
    @include center;
}
#back_arrow /*flèche de retour à la page d'accueil*/
{
    padding-left: 5%;
    margin-top: -13%;
    & > a {
        text-decoration: none;
        color: rgb(53, 53, 53);
    }
}
#foodpicture /*Image du restaurant*/
{
    z-index: 1;
    position: relative;
    padding-top: 5%;
    height: 250px;
    object-fit: cover;
}
#courses /*Section du menu*/
{
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    @include flex-column;
    border-radius: 60px 60px 0 0;
    margin-top: -14.5%;
    padding: 10% 5% 20% 5%;
    background-color: rgb(246, 246, 246);
    & > #starter {
        animation: fadein 2s;
    }
    & > #maincourse {
        animation: fadein 4s;
    }
    & > #dessert {
        animation: fadein 6s;
    }
}
#head
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > #restaurantname {
        font-size: 7.5vw;
        font-family: 'Shrikhand',sans-serif;
    }
}
.fa-heart
{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 80%;
    font-size: 25px;
    cursor: pointer;
    font-weight: 100;
    &:hover { /*animation du coeur au survol*/
        &::before {
            transition: all .1s ease-in-out;
            background-clip: text;
            -webkit-background-clip: text;
            font-weight: 900;
            background-image: linear-gradient($color-main, $color-second);
            -webkit-text-fill-color: transparent;
        }
    }
}
.title /*Entrees, plats, desserts*/
{
    padding: 8% 0 2% 0;
    display: inline-block;
    position: relative;
    @include light;
    &::after {
        content: "";
        width: 40px;
        height: 3px;
        background-color:$color-third;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.food /*Reglage des articles*/
{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 5px 10px rgb(230, 230, 230);
    margin-top: 3%;
    margin-bottom: 3%;
    overflow: hidden;
    & > .main {
        font-size: 17px;
        @include dish;
    }
    & > .subtitle { /*accompagnements*/
        font-size: 14px;
        padding-top: 5px;
        @include light;
        @include dish;
    }
    & > .price { /*prix*/
        font-size: 15px;
        margin-left: 85%;
        margin-top: -17px;
        padding: 0;
        @include extrabold;
    }
    & > .select {
        & > .fa-circle-check {
            display: none;
        }
    }
    &:hover { /*animation lors du survol*/
        & > .select { /*slide verte*/
            animation-name: slide 0.3s linear;
            display: flex;
            justify-content: center;
            align-items: center;
            position:absolute;
            background-color: $color-third;
            width: 13.5%;
            height: 62.8px;
            margin-left: 74%;
            margin-top: -52.8px;
            border-radius: 0 10px 10px 0;
            overflow: hidden;
            & > .fa-circle-check { /*coche blanche*/
                animation: spin 0.3s linear 0.1s;
                display: block;
                color: $white;
            }
        }
        & > .main { /*plat*/
            @include dish-hover;
            @include extrabold;
        }
        & > .subtitle { /*accompagnement*/
            @include dish-hover;
            @include light;
        }
        & > .price { /*prix*/
            animation: slidein 0.3s linear;
            margin-left: 76%;
            @include extrabold;
        }
    }
}
#button { /*bouton "commander"*/
    @include center;
    margin-top: 10%;
    & > a {
        text-decoration: none;
        color: $white;
        font-size: 4.5vw;
        padding: 4% 12%;
    }
    & > #button1 {
        cursor: pointer;
        border: none;
        margin: 0 auto;
        width: 60%;
        background-image: linear-gradient($color-main,$color-second) ;
        border-radius: 35px;
        @include bold;
        box-shadow: 0px 5px 10px rgb(197,197,197);
        &:hover {
            background-image: linear-gradient($color-main,$color-second);
            filter: brightness(110%);
            box-shadow: 0px 5px 10px rgb(170, 170, 170);
        }
    }
}
footer
{
    @include flex-column;
    background-color: rgb(53, 53, 53);
    padding: 3% 2% 10% 10%;
    & > #footertitle {
        font-family: 'Shrikhand',sans-serif;
        color: $white;
        font-size: 5vw;
        padding: 3% 0;
    }
    & > .footercolumn {
        display: flex;
        padding: 2% 0 1% 0;
        & > .link {
            font-size: 4.5vw;
            padding: 0 3%;
            @include bold;
            cursor: pointer;
            & > a {
                @include whitelink;
            }
        }
        & > .fa-solid {
            color: $white;
        }
    }
    & > .link1 {
        font-size: 4.5vw;
        padding: 2% 0 1% 0;
        @include light;
        cursor: pointer;
        & > a {
            @include whitelink;
        }
    }
}
@keyframes fadein {
    from { 
        opacity: 0; 
    }
    to   { 
        opacity: 1; 
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes slidein {
    0%{
        margin-left: 85%;

    }
    100% {
        margin-left: 76%;
    }
}
@keyframes slide {
    0%{
        margin-left: 89%;
        width:0%;

    }
    100% {
        margin-left: 74%;
        width: 13.5%;
    }
}
@media screen and (min-width: 481px) and (max-width: 992px) /*Responsive tablette*/
{
    #brand 
    {
        font-size: 5vw;
        padding: 2%;
    }
    #back_arrow /*flèche de retour à la page d'accueil*/
    {
        padding-left: 5%;
        margin-top: -8%;
        font-size: 3vw;
    }
    #foodpicture
    {
        padding-top: 3%;
        height: 450px;
    }
    #courses /*Section du menu*/
    {
        padding: 5% 5% 18% 5%;
    }
    #head
    {
        & > #restaurantname {
            font-size: 5.5vw;
        }
    }
    .fa-heart
    {
        margin-top: 2%;
        margin-left: 80%;
        font-size: 4.5vw;
    }
    .title /*Entrees, plats, desserts*/
    {
        padding: 5% 0 2% 0;
        font-size: 3vw;
        &::after {
            content: "";
            width:9vw;
            height: 0.5vh;
        }
    }
    .food /*Reglage des articles*/
    {
        & > .main {
            font-size: 25px;
        }
        & > .subtitle { /*accompagnements*/
            font-size: 20px;
        }
        & > .price { /*prix*/
            font-size: 22px;
            margin-top: -23px;
        }
        & > .select {
            & > .fa-circle-check {
                display: none;
                font-size:4vw ;
            }
        }
        &:hover { /*animation lors du survol*/
            & > .select { /*slide verte*/
                animation: slide1 0.3s linear;
                width: 14.7%;
                height: 83.5px;
                margin-top: -73px;
            }
        }
    }
    #button { /*bouton "commander"*/
        margin-top: 12%;
        & > a {
            font-size: 3vw;
            padding: 3% 8%;
        }
    }
    footer {
        padding: 3% 2% 5% 5%;
            & > #footertitle {
                font-size: 30px;
                padding: 2% 0;
            }
            & > .footercolumn {
                padding: 1% 0 1% 0;
                font-size: 25px;
                & > .link {
                    font-size: 25px;
                }
            }
            & > .link1 {
                font-size: 25px;
                padding: 1% 0 1% 0;
            }
        }
}
@keyframes slide1 {
    0%{
        margin-left: 89%;
        width:0%;

    }
    100% {
        margin-left: 74%;
        width: 14.5%;
    }
}