@import 'style.scss';
/*Définition des classes récurentes*/
header
{
    font-family: 'Shrikhand',sans-serif;
}
body
{
    max-width: 1440px;
    margin: auto;
    font-family:'Roboto',sans-serif;
}
h2
{
    padding: 0;
    margin: 0;
}
h3
{
    font-size: 4.5vw;
    padding: 0;
    margin: 0;
}
.maxwidth
{
    width: 100%;
}
#brand /*placement du nom de l'entreprise*/
{
    padding: 4%;
    font-size: 9vw;
    @include center;
}
#back_arrow /*flèche de retour à la page d'accueil*/
{
    padding-left: 5%;
    margin-top: -13%;
    & > a {
        text-decoration: none;
        color: rgb(53, 53, 53);
    }
}
#foodpicture
{
    z-index: 1;
    position: relative;
    padding-top: 5%;
    height: 250px;
    object-fit: cover;
}
#courses
{
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 60px 60px 0 0;
    margin-top: -14.5%;
    padding: 10% 5%;
    background-color: rgb(246, 246, 246);
    & > #starter {
        animation: fadein 2s;
    }
    & > #maincourse {
        animation: fadein 4s;
    }
    & > #dessert {
        animation: fadein 6s;
    }
}
#head
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > #restaurantname {
        font-size: 7.5vw;
        font-family: 'Shrikhand',sans-serif;
    }
}
.fa-heart
{
    position: absolute;
    margin-top: 5%;
    margin-left: 80%;
    font-size: 1.6em;
    cursor: pointer;
    font-weight: 100;
    &:hover { /*animation du coeur au survol*/
        &::before {
            transition: all .1s ease-in-out;
            background-clip: text;
            -webkit-background-clip: text;
            font-weight: 900;
            background-image: linear-gradient($color-main, $color-second);
            -webkit-text-fill-color: transparent;
        }
    }
}
.title
{
    padding: 8% 0 2% 0;
    display: inline-block;
    position: relative;
    @include light;
    &::after {
        content: "";
        width: 2.5rem;
        height: 0.20rem;
        background-color:$color-third;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.food /*Reglage des articles*/
{
    box-sizing: border-box;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(230, 230, 230);
    margin-top: 3%;
    margin-bottom: 3%;
    overflow: hidden;
    & > .subtitle { /*accompagnements*/
        font-size: 3.7vw;
        padding-top: 1.5%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include light;
    }
    & > .price { /*prix*/
        font-size: 4vw;
        margin-left: 85%;
        margin-top: -5%;
        padding: 0;
        @include extrabold;
    }
    & > .select {
        & > .fa-circle-check {
            display: none;
        }
    }
    &:hover { /*animation lors du survol*/
        & > .select { /*slide verte*/
            animation-name: slide;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            display: flex;
            justify-content: center;
            align-items: center;
            position:absolute;
            background-color: $color-third;
            width: 13.2%;
            height: 5.9%;
            margin-left: 75%;
            margin-top: -13.3%;
            border-radius: 0 10px 10px 0;
            & > .fa-circle-check { /*coche blanche*/
                animation-name: spin;
                animation-duration: 0.3s;
                animation-delay: 0.1s;
                animation-timing-function: linear;
                display: block;
                color: $white;
            }
        }
        & > .main { /*plat*/
            @include dish-hover;
            @include extrabold;
        }
        & > .subtitle { /*accompagnement*/
            @include dish-hover;
            @include light;
        }
        & > .price { /*prix*/
            margin-left: 76%;
            @include extrabold;
        }
    }
}
#button { /*bouton "commander"*/
    @include center;
    margin-top: 10%;
    & > a {
        text-decoration: none;
        color: $white;
        font-size: 4.5vw;
        padding: 4% 12%;
    }
    & > #button1 {
        cursor: pointer;
        border: none;
        margin: 0 auto;
        width: 60%;
        background-image: linear-gradient($color-main,$color-second) ;
        border-radius: 35px;
        @include bold;
        &:hover {
            background-image: linear-gradient($color-second,$color-main);
        }
    }
}
footer
{
    @include flex-column;
    margin-top: 12%;
    background-color: rgb(53, 53, 53);
    padding: 3% 2% 10% 10%;
    & > #footertitle {
        font-family: 'Shrikhand',sans-serif;
        color: $white;
        font-size: 5vw;
        padding: 3% 0;
    }
    & > .footercolumn {
        display: flex;
        padding: 2% 0 1% 0;
        & > .link {
            font-size: 4.5vw;
            padding: 0 3%;
            @include bold;
            cursor: pointer;
            & > a {
                @include whitelink;
            }
        }
        & > #addrestaurant {
            padding-left: 4.5%;
        }
        & > .fa-solid {
            color: $white;
        }
    }
    & > .link1 {
        font-size: 4.5vw;
        padding: 2% 0 1% 0;
        @include light;
        cursor: pointer;
        & > a {
            @include whitelink;
        }
    }
}
@keyframes fadein {
    from { 
        opacity: 0; 
    }
    to   { 
        opacity: 1; 
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes slidein {
    0%{
        transform: translateX(10px);

    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slide {
    0%{
        margin-left: 89%;
        width:0%;

    }
    100% {
        margin-left: 75%;
        width: 13.2%;
    }
}